/AutotestsLearning/AutotestsLearning/obj/AutotestsLearning.csproj.nuget.cache
/AutotestsLearning/AutotestsLearning/obj/AutotestsLearning.csproj.nuget.dgspec.json
/AutotestsLearning/AutotestsLearning/obj/AutotestsLearning.csproj.nuget.g.props
/AutotestsLearning/AutotestsLearning/obj/AutotestsLearning.csproj.nuget.g.targets
/AutotestsLearning/AutotestsLearning/obj/Debug/netcoreapp2.2/AutotestsLearning.AssemblyInfo.cs
/AutotestsLearning/AutotestsLearning/obj/Debug/netcoreapp2.2/AutotestsLearning.AssemblyInfoInputs.cache
/AutotestsLearning/AutotestsLearning/obj/Debug/netcoreapp2.2/AutotestsLearning.assets.cache
/AutotestsLearning/AutotestsLearning/obj/Debug/netcoreapp2.2/AutotestsLearning.csproj.CoreCompileInputs.cache
/AutotestsLearning/AutotestsLearning/obj/Debug/netcoreapp2.2/AutotestsLearning.csproj.FileListAbsolute.txt
/AutotestsLearning/AutotestsLearning/obj/Debug/netcoreapp2.2/AutotestsLearning.csprojAssemblyReference.cache
/AutotestsLearning/AutotestsLearning/obj/Debug/netcoreapp2.2/AutotestsLearning.dll
/AutotestsLearning/AutotestsLearning/obj/project.assets.json
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/AutotestsLearning.deps.json
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/AutotestsLearning.dll
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/AutotestsLearning.pdb
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/AutotestsLearning.runtimeconfig.dev.json
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/AutotestsLearning.runtimeconfig.json
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/chromedriver.exe
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/nunit.engine.netstandard.dll
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
/AutotestsLearning/AutotestsLearning/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
/AutotestsLearning/.vs/AutotestsLearning/v16/.suo
/AutotestsLearning/.vs/AutotestsLearning/v16/Server/sqlite3/db.lock
/AutotestsLearning/.vs/AutotestsLearning/v16/Server/sqlite3/storage.ide
/AutotestsLearning/.vs/AutotestsLearning/v16/Server/sqlite3/storage.ide-shm
/AutotestsLearning/.vs/AutotestsLearning/v16/Server/sqlite3/storage.ide-wal
